body{
  margin:0;
  font-family:sans-serif;
  background:linear-gradient(135deg,#ff758c,#ff7eb3);
  color:white;
}

.container{
  text-align:center;
  padding:40px;
}

.role{
  font-size:20px;
  margin-bottom:30px;
}

.box{
  background:white;
  color:black;
  margin:20px auto;
  padding:20px;
  width:250px;
  border-radius:15px;
}

button{
  padding:12px 25px;
  border:none;
  border-radius:10px;
  background:black;
  color:white;
  cursor:pointer;
  }
